.statsContainer{
  width: 30%;
  display: flex;
  flex-direction: row;
}

body, html {
  margin: 15px;
  padding: 0;
  font-family: montserrat;
  background: #1e1e1e;
  color: white;
  text-align: left;
  min-width: 100px;
}

.handleInputContainer {
  padding: 20px;
}

#fetchData {
  margin-left: 10px;
}

.hidden {
  display: none;
}

.horizontal-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.solvedProblems {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; /* Aligns children (including .circle) to the start */
}

.circle {
  background: #333;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 20px;
  padding: 30px;
  display: inline-block;
  position: relative;
  margin-left: 0;
  margin-right: auto; /* Pushes the circle to the left */
}

.statsContainer {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* This will distribute space evenly between the children */
}

.statsContainer > div {
  margin: 0 10px; /* Add margin to the left and right of each category */
}

.circle::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: 3px solid #f2a365;
  border-top-color: transparent;
  border-radius: 50%;
 
}

.totalSolved {
  font-size: 10px;
  display: block;
}

#problemStats {
  display: flex;
  flex-direction: column;
  gap: 8px; /* This will create a gap between each child element */
}

.stats:not(:last-child) {
  margin-bottom: 8px; /* Adjusted margin-bottom to reduce the gap */
}

.stats {
  display: flex;
  justify-content: space-between; /* This will ensure that the content is spaced between start and end of the container */
  align-items: center; /* Align items vertically in the center */
  padding-right: 10px; /* Adds padding to the right to ensure there's space between the text and the edge of the container */
}

.stats span {
  white-space: nowrap; /* Ensures the content doesn't wrap */
}

.bar {
  background: #333;
  height: 5px;
  width: 100%;
  margin: auto;
  position: relative;
  border-radius: 3px;
}

.bar::after {
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}

#questionOfTheDayContainer h2 {
  margin-bottom: 15px; /* Adjust this value to increase or decrease the gap below the heading */
}

#questionOfTheDay {
  margin-bottom: 40px; 
  color: #ffffff;
}

#questionOfTheDay a, 
#questionOfTheDay a:visited {
  color: inherit; /* This will make the link use the same color as the #questionOfTheDay div */
  text-decoration: none; /* Removes the underline from links */
}

/* 
//.question-of-the-day-title {


.question-of-the-day-link {
  margin-bottom: 20px; 
}

#question-of-the-day a {
  margin-bottom: 20px;
  display: block; 
}

#question-of-the-day a, 
#question-of-the-day a:visited {
  color: #ffffff; 
  text-decoration: none;
} */


.easy .bar::after { background: #5cb85c; }
.medium .bar::after { background: #f0ad4e; }
.hard .bar::after { background: #d9534f; }